In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [5]:
df=pd.read_csv("data.csv")
df

    age  insurance  Unnamed: 2
0    22          0         NaN
1    25          0         NaN
2    47          1         NaN
3    52          0         NaN
4    46          1         1.0
5    56          1         NaN
6    55          0         NaN
7    60          1         NaN
8    62          1         NaN
9    61          1         NaN
10   18          0         NaN
11   28          0         NaN
12   27          0         NaN
13   29          0         NaN
14   49          1         NaN

In [4]:
from sklearn.model_selection import train_test_split

In [ ]:
df=df.drop('Unnamed: 2')